{% extends 'vote_app/base.html' %}

{% block title %}
<title>Vote Now to change the world</title>
{% endblock %}


{% block content %}
   
<div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                  Cast your vote
                </div>
                <form method="POST">
                {% csrf_token %}    
                <div class="card-body border-bottom">
                  <h5 class="card-title">{{ vote.question_text }}</h5>
                  <div class="row">
                    <div class="col-sm">
                    <img src="{{ vote.option_one_image_url }}" height="200" width="200"  class="img-thumbnail">
                     <p>{{ vote.option_one_text }}</p> 
                     <input type="radio"  name="vote" value="option_one_count" required>
                    </div>
                    <div class="col-sm">
                    <img src="{{ vote.option_two_image_url }}" height="200" width="200" class="img-thumbnail">

                        <p>{{ vote.option_two_text }}</p> 
                       <input type="radio"  name="vote" value="option_two_count" required>
                    </div>
                    <div class="col-sm">
                    <img src="{{ vote.option_three_image_url }}" height="200" width="200" class="img-thumbnail">

                        <p>{{ vote.option_three_text }}</p> 
 
                        <input type="radio"  name="vote" value="option_three_count" required>
                    </div>
                  </div>
                  
                    <button type ="submit" class="btn btn-primary btn-block">Vote</button>
                </div>
               </form>
             
                
              </div>


 
            
        </div>
  </div>

{% endblock %}